/*======== Particle Animation from Codepen ==========*/

:root {
  --bgP: rgba(0, 0, 0, 1);
  --bgS: rgba(40, 40, 40, 0.5);
  --bgT: rgba(60, 60, 60, 0.5);
  --primary: rgba(250, 250, 250, 1);
  --secondary: rgba(250, 250, 250, 0.6);
  --tertiary: rgba(250, 250, 250, 0.3);
}

body {
  overflow: hidden;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bgP);
}

.pentahedron {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: #3E82F7;
}

.point {
  fill: #8491A3;
}

.rhombus {
  fill: #2DA94F;
  stroke: #2DA94F;
}

.x {
  fill: #FDBD00;
}

.circle {
  fill: #ED412D;
}

svg {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translateZ(0px);
}

/*========= Register Section ========*/

.register {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
}

.register div {
  width: 700px;
  height: 500px;
  padding: 50px 100px;
  background: var(--bgS);
  backdrop-filter: blur(4px);
  border-radius: 50px;
}

.register h1 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  color: var(--primary);
}

.register label {
  color: var(--secondary);
  font-weight: 600;
}

.register input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--tertiary);
  margin-bottom: 20px;
  font-size: 20px;
  color: var(--primary);
  font-weight: 500;
}

.register input::placeholder {
  color: var(--tertiary);
  font-weight: 300;
}

.register input:focus {
  outline: none;
  border-bottom: 2px solid var(--primary);
  /*border-bottom: 2.5px solid rgba(210, 199, 255, 1);*/
}

.register input:-webkit-autofill,
.register input:-webkit-autofill:hover, 
.register input:-webkit-autofill:focus, 
.register input:-webkit-autofill:active{
  transition: all 0s 50000s;
}

.register button {
  display: flex;
  margin: auto;
  margin-top: 18px;
  padding: 15px 50px;
  border: none;
  border-radius: 8px;
  background-color: var(--bgT);
  font-weight: 600;
  transition: 0.3s;
  color: var(--primary);
}

.register button:hover {
  background-color: var(--bgS);
  padding: 13px 43px;
}

.register button:focus {
  padding: 10px 30px;
  outline: none;
  background-color: var(--bgS);
}

/*====== Background Switch Button ======*/

.themeBtn {
  background-color: white;
  position: fixed;
  z-index: 4;
  right: 80px;
  bottom: 50px;
} 