:root {
	--p-bg: white;
	--s-bg: rgba(237, 233, 255, 1);
	--btn: rgba(0, 0, 0, 0.9);
	--btn-f: rgba(0, 0, 0, 0.8);
}

body {
	background-color: var(--p-bg);
}

/*=========== Sidebar =============*/

.sidebar {
	width: 27%;
	height: 100vh;
	position: fixed;
	top: 0px;
	padding: 30px;
}

@media screen and (max-width: 1065px) {
	.sidebar {
		width: 285px;
	}
}

.sidebar section {
	width: 100%;
	min-height: 100%;
	background-color: var(--s-bg);
	border-radius: 22px;
	padding: 40px 30px;
	padding-top: 20px;
}

.sidebar div {
	width: 100%;
}

.sidebar .menu {
	height: 30px;
}

.sidebar .user {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sidebar .user figure {
	width: 130px;
	height: 130px;
	display: flex;
	justify-content: center;
	margin: auto;
}

.sidebar .user img {
	border-radius: 50%;
	display: flex;
	margin: auto;
	width: 100%;
}

.sidebar .user h1 {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	margin: 15px 0;
}

@media screen and (max-height: 700px) {
	.sidebar section {
		padding: 20px 30px;
	}

	.sidebar .user h1 {
		font-size: 15px;
	}

	.sidebar .user figure {
		width: 90px;
		height: 90px;
	}
}

.sidebar .user a {
	text-decoration: none;
	color: inherit;
}

.sidebar .user a:hover {
	text-decoration: underline;
}

.sidebar .details input:-webkit-autofill,
.sidebar .details input:-webkit-autofill:hover, 
.sidebar .details input:-webkit-autofill:focus, 
.sidebar .details input:-webkit-autofill:active{
  transition: all 0s 50000s;
}

.sidebar .details input {
	background-color: transparent;
	border: none;
	border-bottom: 1.8px solid rgba(0, 0, 0, 0.6);
	width: 100%;
	margin-top: 30px;
	font-weight: 600;
	color: black;
}

.sidebar .details input:focus {
	outline: none;
	border-bottom: 1.8px solid rgba(0, 0, 0, 1);
}

@media screen and (max-height: 700px) {
	.sidebar .details input {
		margin-top: 25px;
	}
}

.sidebar .details figure {
	display: flex;
	margin-bottom: 0;
}

.sidebar .details figure:nth-child(1) {
	gap: 20px 30px;
}

.sidebar .socials {
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 35px;
	transition: 0.3s ease-in-out;
}

@media screen and (max-width: 1200px) {
	.sidebar .socials {
		justify-content: space-between;
	}
}

.sidebar .socials img {
	width: 35px;
}

@media screen and (max-height: 700px) {
	.sidebar .socials img {
		width: 28px;
	}
}

.sidebar #editDetails {
	background-color: var(--btn);
	color: white;
	padding: 3px 28px;
	border-radius: 50px;
	display: flex;
	margin: auto;
	margin-top: 35px;
	border: 5px solid black;
	transition: 0.2s ease-in-out;
}

.sidebar #editDetails:hover {
	padding: 3px 35px;
}

.sidebar #editDetails:focus {
	padding: 3px 30px;
	border: 5px solid black;
}

.sidebar .logout {
	display: flex;
	gap: 0 15px;
	height: 100px;
	align-items: end;
	justify-content: center;
}

@media screen and (max-height: 700px) {
	.sidebar .logout {
		height: 80px;
	}
}

.sidebar .logout img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	cursor: pointer;
}

.sidebar .logout h1 {
	font-size: 22px;
	font-weight: 600;
	cursor: pointer;
	margin-bottom: 5px;
}

@media screen and (max-height: 700px) {
	.sidebar .logout img {
		width: 32px;
		height: 32px;
	}

	.sidebar .logout h1 {
		font-size: 18px;
	}
}


/*=========== Right Main Section =========*/

.main {
	width: 73%;
	min-height: 150vh;
	float: right;
	padding: 30px;
	padding-left: 20px;
}

@media screen and (max-width: 960px) {
	.main {
		padding-right: 0;
	}
}

.main header {
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

@media screen and (max-width: 960px) {
	.main header {
		flex-wrap: wrap;
		gap: 30px 0;
	}
}

@media screen and (max-width: 830px) {
	.main header {
		padding: 0 70px;
		padding-right: 30px;
	}
}

@media screen and (max-width: 750px) {
	.main header {
		justify-content: center;
	}
}

.main .d-card {
	width: 320px;
	height: 290px;
	background-color: var(--s-bg);
	border-radius: 14px;
	padding: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media screen and (max-width: 960px) {
	.main .d-card {
		width: 45%;
		height: 290px;
	}
}

@media screen and (max-width: 750px) {
	.main .d-card {
		width: 100%;
		height: 290px;
	}
}

.main .d-card h1 {
	font-weight: 600;
	font-size: 28px;
	margin-bottom: 0;
}

.main .d-card h2 {
	font-weight: 600;
	font-size: 7.5vw;
	margin-bottom: 0;
}

@media screen and (max-width: 750px) {
	.main .d-card h2 {
		font-size: 13vw;
	}
}

.main .right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 33%;
}

@media screen and (max-width: 960px) {
	.main .right {
		width: 100%;
		gap: 30px;
	}
}

.main .right .subs {
	height: 160px;
	width: 100%;
}

.main .right .subs h2 {
	font-size: 45px;
}

.main .right .btn {
	width: 100%;
	height: 100px;
	background-color: var(--s-bg);
	border-radius: 14px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.main .right .btn h1 {
	font-size: 35px;
	font-weight: 600;
	margin: 0;
}

.main .right .btn h2 {
	font-size: 65px;
	font-weight: 600;
	margin: 0;
	margin-left: 10px;
}

.main main {
	width: 100%;
	padding: 20px;
}

.main main button {
	background-color: var(--btn);
	color: white;
	padding: 3px 24px;
	border-radius: 8px;
	transition: 0.3s;
	display: flex;
	margin: auto;
	margin-top: 10px;
}

.main main button:hover {
	padding: 3px 28px;
}

.main main .card {
	width: 100%;
	min-height: 100px;
	padding: 25px;
	border: none;
	border-radius: 13px;
	background-color: var(--s-bg);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.main main div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-right: 1px solid rgba(0, 0, 0, 0.4);
	height: 50px;
}

.main main .content {
	width: 45%;
}

.main main .content img {
	width: 150px;
	height: 60px;
}

.main main .content h1 {
	font-size: 20px;
	width: calc(100% - 200px);
	margin: auto;
	line-height: 24px;
	height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 600;
  margin-bottom: 0;
}

.main main .views,
.main main .comments {
	gap: 25px;
}

.main main .views {
	width: 20%;
}

.main main .comments {
	width: 20%;
}

.main main .views h1,
.main main .comments h1 {
	font-size: 30px;
  margin-bottom: 0;
}

.main main .edit {
	width: 10%;
}

.main main .edit:nth-last-child(1) {
	border: none;
}

.main main .views img,
.main main .comments img,
.main main .edit img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}